<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2024

    Copyright (C) 2023-2024 Smart Ocean Systems Laboratory
-->
<launch>
    <arg name="robot_name" default="alpha_rise"/>

    <!-- Bring up the Costmap -->
    <include file="$(find alpha_rise_bringup)/launch/include/costmap.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Bring up the Path Generation Node -->
    <include file="$(find alpha_rise_bringup)/launch/include/path_gen.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

</launch>