<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Lin Zhao
    Email: linzhao@uri.edu
    Year: 2023

    Copyright (C) 2022-2023 Smart Ocean Systems Laboratory
-->
<launch>
  <!-- Specify our custom params file to the microstrin launch file -->
  <include file="$(find alpha_rise_bringup)/launch/include/microstrain.launch.xml">
    <arg name="namespace" value="alpha_rise" />
    <arg name="params_file" value="$(find alpha_rise_config)/config/microstrain_cv7.yaml" />
  </include>

</launch>

